<div class="container-fluid">
  <!--ログインしているユーザーの情報-->
  <div class="row">
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="d-flex flex-column mt-5">
        <h2>あなた</h2>
        <%= attachment_image_tag current_user, :image, size: '100x100', fallback: "no_image.jpg" %>
        <div class="d-flex justify-content-center mb-3">
          <%=link_to current_user.name, user_path(current_user) %>
        </div>
        <% if current_user.name != "guestuser" %>
          <div class='row d-flex justify-content-center'>
            <%= link_to '登録内容編集',edit_user_path(current_user),class: "btn#{current_user.id} btn-info" %>
          </div>
        <% end %>
        <p>フォロワー数</p>
        <%=link_to current_user.followers.count, followers_user_path(current_user) %><br>
        <p>フォロー数</p>
        <%=link_to current_user.followings.count, followings_user_path(current_user) %>
      </div>
    </div>
    <!--全員の投稿一覧-->
    <div class="col-lg-8 mt-5">
      <h1>投稿一覧</h1>
      <% @posts.each do |post|%>
        <div class="row border secondary">
          <div class="col-lg-1">
            <%= attachment_image_tag post.user, :image, size: '50x50', fallback: "no_image.jpg" %>
          </div>
          <div class="col-lg-1">
            <%= link_to post.user.name, user_path(post.user.id) %>
          </div>
          <div class="col-lg-9">
            <div class="mb-5"><%= link_to post.text, post_path(post.id) %></div>
            <% post.post_images.each do |post_image| %>
              <!--RuntimeError at / Refile.secret_key was not set.が出たら-->
              <!--Refile.secret_key = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'をコピーして-->
              <!--config/initializersに貼り付け-->
              <%= attachment_image_tag post_image, :image, size: "150x150" %>
            <% end %>
            <div class="row d-flex justify-content-end">
              コメント件数：<%= post.post_comments.count %>
              <!--いいねぼたん-->
              <% if current_user.name != "guestuser" %>
                <div id="favorite_buttons_<%= post.id %>">
                  <%= render "favorites/favorites", post: post %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-2">
      <!--検索機能-->
      <% if user_signed_in? %>
        <div class="search_form mt-5">
          <%= form_with url: search_path, local: true, method: :get do |f| %>
            <%= f.text_field :word %>
            <%= f.select :range, options_for_select([['User'], ['Post']]) %>
            <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backword_match"], ["部分一致","partial_match"]]) %>
            <%= f.submit "検索", class: "btn btn-primary" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
